.footer{
  background:#3f4347;
  text-align: center;
  padding: 26px 0;
  background-size: cover;
  position: relative;
  bottom: 0;
}

.footer p{
  margin: 0 0 8px 0;
  font-size: 14px;
  color: #FFF;
}

.footer a{
  color: #FFF;
  text-decoration: none;
  font-weight: 700;
}
