.header {
  background:#343A40;
  background-size: contain;
  border-bottom: 1px solid #ccc;
  background-repeat: repeat-x;
}

.content {
  width: 100%;
  overflow: auto;
}

.site-title {
  display: block;
  font-weight: 300;
  font-size: 32px;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}
.site-title a:hover {
  text-decoration: none;
  color: #FFF;
}
.container {
  width: 100%;
  max-width: 980px;
  min-height: 60vh;
  margin: 0 auto;
}