.header {
  background: #3f4347 url('./connectwork.png') center;
  background-size: contain;
  /* border-bottom: 1px solid #ccc; */
  /* background-repeat: repeat-x; */
}

.content {
  width: 100%;
  overflow: auto;
  padding: 20px 0;
}

.site-title {
  display: block;
  font-weight: 300;
  font-size: 32px;
}

.site-title a {
  text-decoration: none;
  color: #FFF;
}
.site-title a:hover {
  text-decoration: none;
  color: #FFF;
}
.container {
  width: 100%;
  min-height: calc(100vh - 143px);
  margin: 0 auto;
}